<% layout("layouts/boilerplate") %>

<h1>Reset password</h1>


<form action="/forgot" method="POST">

    <div>
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" id="email" name="email" autofocus>
    </div>

    <button class="btn btn-success  btn-block">Send</button>
</form>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
  </button> -->

