<% layout("layouts/boilerplate") %>

<h1>Add new password!</h1>


<form action="/forget-password" method="POST">

    <div>
        <label class="form-label" for="password">Enter new password</label>
        <input class="form-control" type="password" id="password" name="password" autofocus>
        <input type="hidden" name="user_id" value="<%=user_id%>">
    </div>
    
    <button class="btn btn-success  btn-block">Add new password</button>
</form>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
  </button> -->

